@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@503&family=Jacques+Francois&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

/* Omat */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #101115;
  margin-bottom: 20%;
  color: rgb(253, 187, 167);
}
.container {
  /*   font-family: 'Jacques Francois', serif; */
  font-family: 'New Tegomin', serif;
  margin-top: 50px;
  color: rgb(236, 236, 236);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  border: 0px;
  text-align: center;
  background-color: #101115;
  font-size: 16px;
}
.row .column {
  font-family: 'Jacques Francois', serif;
  float: left;
  width: 33.33%;
  padding: 10px;
  color: #f0ccab;
}
footer li {
  list-style-type: none;
  text-align: left;
}
footer ul li a,
a:visited {
  color: #dd6b00;
}

footer a:hover {
  color: #dd6b00;
}
/* #header {
  opacity: 30%;
  background-image: url(./banner.png);
  background-repeat: no-repeat;
  background-color: #101115;
  height: 250px;
  background-size: cover;

} */
#header {
  height: 100px;
}

.navbar {
  background-image: url(./banner.png);
  background-repeat: no-repeat;
  background-color: #101115;
  background-size: cover;
}

.appi {
  background-color: #101115;
  font-size: 20px;
}
.navbar {
  background-image: url(./banner3.jpg);
  background-repeat: no-repeat;
  background-color: #101115;
  background-size: cover;
  height: 100px;
}
.navbar-toggle-icon .span {
  color: #dd6b00;
}
/* .{
  color:#dd6b00 !important;
}
 */

.navbar .nav-link {
  font-family: 'Jacques Francois', serif;
  color: #f0ccab;
}
.navbar .nav-text {
  font-family: 'Jacques Francois', serif;
  color: #f0ccab;
}
#otsikko {
  font-family: 'Pattaya', sans-serif;
  font-size: 22px;
  font-weight: 1000;
  color: #dd6b00;
  letter-spacing: 7px;
}
/* Karuselli kuvat */
.karuselli1 {
  max-height: 700px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}
/* tuotteiden selaus kuvat */
.pikkukuva {
  height: 500px;
  width: 500px;
  object-fit: scale-down;
  position: relative;
  overflow: hidden;
}

#pikkukuva {
  object-fit: scale-down;
  position: relative;
  overflow: hidden;
}
/* Ostoskorin kuvat */
.pikkukuva2 {
  height: 100px;
  width: 100px;
  object-fit: scale-down;
  position: relative;
  overflow: hidden;
}
/* Tuote esittelu kuvat */
.isokuva {
  height: 800px;
  width: 800px;
  object-fit: scale-down;
  position: relative;
  overflow: hidden;
}
:link {
  text-decoration: none;
}
/* Login dropdown */
#login {
  font-family: 'Jacques Francois', serif;
  color: #f0ccab;
  background-color: #101115;
  padding: 15px;
}
#login input {
  margin-bottom: 5px;
}
/* Tuotteet dropdown */
#tuotteet {
  font-family: 'Jacques Francois', serif;
  color: #f0ccab;
  background-color: #101115;
}
#tuotteet .dropdown-item {
  font-family: 'Jacques Francois', serif;
  color: #f0ccab;
}

#chatbot {
  font-family: 'Jacques Francois', serif;
  color: #f0ccab;
  background-color: #101115;
}
.container2 {
  /*   font-family: 'Jacques Francois', serif; */
  font-family: 'New Tegomin', serif;
  margin-top: 50px;
  color: rgb(236, 236, 236);
}
.container2 td tr {
  padding: 10%;
}
/* Karusellin tyylit */
.text-block {
  transform: skew(56deg, -50deg) translateY(-300px);
  width: auto;
  margin-top: 140px;
  margin-left: 20px;
  background-color: black;
  color: #dd6b00;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 5px;
  padding-bottom: 1px;
  font-size: 13px;
  border: solid 4px #dd6b00;
  border-color: #dd6b00;
}
/* Etusivun valikoima */
#valikoima {
  display: inline-flex;
}
.valikko {
  font-family: 'New Tegomin', serif;
  color: #dd6b00;
  font-size: 30px;
}
/* Responsiivisuus hienosäätöä */
@media (max-width: 1400px) {
  .text-block {
    transform: skew(56deg, -50deg) translateY(-230px);
  }
}
@media (max-width: 1200px) {
  .text-block {
    transform: skew(56deg, -50deg) translateY(-100px);
    width: auto;
    margin-top: 100px;
    margin-left: 2px;
    padding-left: 80px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 10px;
    border: solid 3px #dd6b00;
  }
}
@media (max-width: 1200px) {
  .text-block {
    transform: skew(55deg, -48deg) translateY(-180px);
    width: auto;
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 20px;
    font-size: 8px;
    border: solid 3px #dd6b00;
  }
  .karuselli1 {
    max-height: 500px;
  }
}
@media (max-width: 992px) {
  .text-block {
    transform: skew(45deg, -48deg) translateY(-180px);
    width: auto;
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 20px;
    font-size: 8px;
    border: solid 3px #dd6b00;
  }
  .karuselli1 {
    max-height: 450px;
  }
}
@media (max-width: 768px) {
  .text-block {
    transform: skew(35deg, -45deg) translateY(-230px) translateX(-160px);
    width: 600px;
    margin-left: 60px;
    padding-left: 20px;
    font-size: 8px;
    border: solid 2px #dd6b00;
  }
  .karuselli1 {
    max-height: 330px;
  }
}
@media (max-width: 576px) {
  .text-block {
    transform: skew(35deg, -45deg) translateY(-220px) translateX(-180px);
    width: 600px;
    margin-left: 60px;
    padding-left: 5px;
    font-size: 8px;
    border: solid 1px #dd6b00;
  }
  .text-block h3 {
    font-size: 13px;
  }
  .text-block p {
    margin-bottom: 1px;
  }
  .karuselli1 {
    max-height: 200px;
  }
}

#btn {
  background-color: #dd6b00;
  color: white;
  font-size: 18px;
}