@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@503&family=Jacques+Francois&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

/* Omat */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #101115;
  margin-bottom: 20%;
  color: rgb(253, 187, 167);
}
.container {
  /*   font-family: 'Jacques Francois', serif; */
  font-family: 'New Tegomin', serif;
  margin-top: 50px;
  color: rgb(236, 236, 236);
}

footer {
  position: sticky;
  width: 100%;
  border: 0px;
  text-align: center;
  background-color: #101115;
  font-size: 16px;
  
}
.row .column {
  font-family: 'Jacques Francois', serif;
  float: left;
  width: 33.33%;
  padding: 10px;
  color: #f0ccab;
}
footer li {
  list-style-type: none;
  text-align: left;
}
footer ul li a,
a:visited {
  color: #dd6b00;
}

footer a:hover {
  color: #dd6b00;
}

.container a:hover,a:visited {
  color: #dd6b00;
}

.navbar a:hover, a:visited {
  color: #dd6b00;
}
.nav-link a:hover, a:visited {
  color: #dd6b00;
}
.navbarDropdown.nav-link.dropdown-toggle a:hover, a:visited {
  color: #dd6b00;
}
.navbar a:visited {
  color: #dd6b00;
}

.ukkeli a:hover, a:visited {
  color: #dd6b00;

}

.dropDown {
  color: #dd6b00;

}

.custom-toggler.navbar-toggler {
  border-color: rgb(221, 107, 0);
}
.navbar-toggler-icon {
  background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath stroke='rgba(221, 107, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

#header {
  height: 100px;
}

.appi {
  background-color: #101115;
  font-size: 20px;
}
.navbar {
  background-image: url(./binneri3.jpg);
  background-color: #101115;
  min-height: 80px;
}

.navbar-toggle-icon .span {
  color: #dd6b00;
}
/* .{
  color:#dd6b00 !important;
}
 */

.navbar .nav-link {
  font-family: 'Jacques Francois', serif;
  color: #dd6b00;
  font-size: 20px;
}

.navbar .nav-text {
  font-family: 'Jacques Francois', serif;
  color: #f0ccab;
}

#otsikko {
  font-family: 'Pattaya', sans-serif;
  font-size: 35px;
  color: #dd6b00;
  letter-spacing: 7px;
  -webkit-text-stroke: 1.2px rgb(8, 8, 8);
}
/* Karuselli kuvat */
.karuselli1 {
  max-height: 700px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}
/* tuotteiden selaus kuvat */
.pikkukuva {
  height: 500px;
  width: 500px;
  object-fit: scale-down;
  position: relative;
  overflow: hidden;
}

#pikkukuva {
  object-fit: scale-down;
  position: relative;
  overflow: hidden;
}
/* Ostoskorin kuvat */
.pikkukuva2 {
  object-fit: scale-down;
  position: relative;
  overflow: hidden;
}
/* Tuote esittelu kuvat */
.isokuva {
  height: 800px;
  width: 800px;
  object-fit: scale-down;
  position: relative;
  overflow: hidden;
}
:link {
  text-decoration: none;
}
/* Login dropdown */
#login {
  font-family: 'Jacques Francois', serif;
  color: #f0ccab;
  background-color: #101115;
  padding: 15px;
}
#login input {
  margin-bottom: 5px;
}
/* Tuotteet dropdown */
#tuotteet {
  font-family: 'Jacques Francois', serif;
  color: #f0ccab;
  background-color: #101115;
}
#tuotteet .dropdown-item {
  font-family: 'Jacques Francois', serif;
  color: #f0ccab;
}

#chatbot {
  font-family: 'Jacques Francois', serif;
  color: #f0ccab;
  background-color: #101115;
}
.container2 {
  /*   font-family: 'Jacques Francois', serif; */
  font-family: 'New Tegomin', serif;
  margin-top: 50px;
  color: rgb(236, 236, 236);
}
.container2 td tr {
  padding: 10%;
}
/* Karusellin tyylit */
.text-block {
  transform: skew(56deg, -50deg) translateY(-300px);
  width: auto;
  margin-top: 140px;
  margin-left: 20px;
  background-color: black;
  color: #dd6b00;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 5px;
  padding-bottom: 1px;
  font-size: 13px;
  border: solid 4px #dd6b00;
  border-color: #dd6b00;
}
/* Etusivun valikoima */
#valikoima {
  display: inline-flex;
}
.valikko {
  font-family: 'New Tegomin', serif;
  color: #dd6b00;
  font-size: 30px;
}
/* Responsiivisuus hienosäätöä */
@media (max-width: 1400px) {
  .text-block {
    transform: skew(56deg, -50deg) translateY(-230px);
  }
}
@media (max-width: 1200px) {
  .text-block {
    transform: skew(56deg, -50deg) translateY(-100px);
    width: auto;
    margin-top: 100px;
    margin-left: 2px;
    padding-left: 80px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 10px;
    border: solid 3px #dd6b00;
  }
}
@media (max-width: 1200px) {
  .text-block {
    transform: skew(55deg, -48deg) translateY(-180px);
    width: auto;
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 20px;
    font-size: 8px;
    border: solid 3px #dd6b00;
  }
  .karuselli1 {
    max-height: 500px;
  }
}
@media (max-width: 992px) {
  .text-block {
    transform: skew(45deg, -48deg) translateY(-180px);
    width: auto;
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 20px;
    font-size: 8px;
    border: solid 3px #dd6b00;
  }
  .karuselli1 {
    max-height: 450px;
  }
}
@media (max-width: 768px) {
  .text-block {
    transform: skew(35deg, -45deg) translateY(-230px) translateX(-160px);
    width: 600px;
    margin-left: 60px;
    padding-left: 20px;
    font-size: 8px;
    border: solid 2px #dd6b00;
  }
  .karuselli1 {
    max-height: 330px;
  }
}
@media (max-width: 576px) {
  .text-block {
    transform: skew(35deg, -45deg) translateY(-220px) translateX(-180px);
    width: 600px;
    margin-left: 60px;
    padding-left: 5px;
    font-size: 8px;
    border: solid 1px #dd6b00;
  }
  .text-block h3 {
    font-size: 13px;
  }
  .text-block p {
    margin-bottom: 1px;
  }
  .karuselli1 {
    max-height: 200px;
  }
}

#btn {
  background-color: rgb(221, 107, 0);
  color: white;
  font-size: 18px;
  width: 100%;
}

#haku {
  width: 10px;
}

.card:hover {
  box-shadow: 0 0 3em 0px rgba(204, 146, 59, 0.4);
  transform: scale(1.02);
  background-color: #7c5a3a;
}
.card:active {
  transform: scale(1.05) translateY(0.2rem);
}

.btn:hover {
  box-shadow: 0 0 0.6em 1px rgb(248, 246, 246);
  background-color: #7c5a3a;

}

.card-img:hover {
  animation: shake 0.5s;
}

@keyframes boxyRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.container-fluid hr {
border-top: 1px dashed rgb(221, 107, 0);
}
